# replace with your true keys and domain
SSL_HOSTNAME=asprom.asprom.io
SSL_PORT=4443
PROVIDERS_GOOGLE_CLIENT_ID=3034637357357345745671383-fmf6m7sgrhbw3459obnu8577lj6.apps.googleusercontent.com
PROVIDERS_GOOGLE_CLIENT_SECRET=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
DOCKER_SOCKET=/var/run/docker.sock

